html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", "Montserrat", "Kaushan Script", sans-serif;
    color: #6c7279;
    font-size: 14px;
    line-height: 21px;
}

.container {
    max-width: 1201px;
    margin: 0 auto;
    width: 100%;
}

.header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-family: "Montserrat";
    margin-top: 50px;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.navigation {
    max-width: 492px;
    width: 100%;
    vertical-align: bottom;
}

.nav_list {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.nav_link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

.nav_link:hover,
.nav_link:focus {
    color: tomato;
}

.nav_link::after {
    display: table;
    content: "";
    width: 100%;
    height: 3px;
    border: solid 2px;
    border-color: tomato;
    background-color: tomato;
    opacity: 0;
}

.nav_link:hover::after,
.nav_link:focus::after {
    opacity: 1;
}

.products, 
.title_wrapper,
.section_about,
.section_name {
    display: flex;
    flex-flow: column;
}

.products {
    margin-top: 106px;
    margin: 0 auto;
}

.section_about {
    font-family: "Kaushan script";
}

.products_list {
    display: flex;
    flex-flow: row wrap;
    height: 250px;
    
}

.product_item {
    display: flex;
    flex-flow: column;
}